@media (max-width: 1024px){
    #nav-bar{
        display: none;
    }
}
.main-wrapper{
    position: relative;
}
.hamberger{
    position: absolute;
    top: 36px;
    z-index: 1;
    right: 169px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    display: none;
}
.hamberger img{
    width: 35px;
}
.mobile-nav{
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 1001;
    background: #F2F2F2;
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
    transform: translateX(-100%);
    transition: all .5s ease-in-out;
}
.mobile-nav ul li{
    padding: 3rem 0rem;
    list-style-type: none;
}
.mobile-nav a{   
    color: #070606;
    text-decoration: none;
    font-size: 2rem;
}
.mobile-nav a:hover{
    color: #3DCFD3;
}
.mobile-nav .cros-btn{
position: fixed;
top: 20px;
right: 100px;    
border: none;
outline: none;
cursor: pointer;
z-index: 1;
}
.mobile-nav .cros-btn img{
    width: 20px;
}
.open{
    transform: translateX(0);
}
/* ------container------ */
@media (min-width:576px){
    .container{
        max-width:540px;
    }
}
@media (min-width:768px){
    .container{
        max-width:720px;
    }
}
@media (min-width:992px){
    .container{
        max-width:960px;
    }
}
@media (min-width:1200px){
    .container{
        max-width:1152px;
    }
}

/* ------ipad---- */
@media (max-width:1024px){
    .hero .left img{
        width: 216px !important;
    }
    .hamberger{
        display: block !important;
    }
    .hamberger{
        right: 90px;
    }
    .hero .right h1{
        font-size: 3rem;
    }
    .hero .right p{
        margin-bottom: 1rem;
    }
    header{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 84%, 0 100%);
    }
    section .left img{
        height: 360px;
    }
    section.services .card-wrapper{
        grid-template-columns: repeat(2, 1fr);
    }
    section.work .card-wrapper{
        grid-template-columns: repeat(2, 1fr);
    }
    section.blog .card-wrapper{
        grid-template-columns: repeat(1, 1fr);
    }
    section.blog{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 64% 95%, 0 100%);
    }
}

/* ------iphone 6/7/8---- */
@media (max-width:576px){
    .hero{
        flex-direction: column !important;
    }
    .hamberger{
        display: block !important;
    }
    header{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 94%, 0 100%);
    }
    .hamberger {
        right: 47px;
        margin-top: -1rem;
    }
    .hamberger img {
        width: 25px;
    }
    .hero .right{
        position: absolute;
        top: 200px;
        padding: 0rem 1rem;
        background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.9));
    }
    .hero .left{
        margin-top: -5rem;
        margin-right: -9rem;
        padding-bottom: 3rem;
    }
    .about .inner-wrrap{
        flex-direction: column;
    }
    .about .right{
        text-align: center;
        margin-top: 2rem;
    }
    section{
        padding: 2rem 0rem;
    }
    section.services .card-wrapper{
        grid-template-columns: repeat(1, 1fr);
        margin-top: 5rem;
    }
    section.freelanser{
        padding: 4rem 3rem;
    }
    section.freelanser{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 85%, 0 100%);
    }
    section.reviews .slider-wrapper .slide{
        padding: 0rem 1rem;
    }
    .section-heading + p{
        margin-bottom: 2rem;
    }
    section.work .card-wrapper{
        grid-template-columns: repeat(1, 1fr);
    }
    section.contact .card-wrapper{
        grid-template-columns: repeat(1, 1fr);
    }
    section.contact .input-wrapper1{
        grid-template-columns: repeat(1, 1fr);
    }
}